#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 640px) {
  #root {
    padding: 2rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* .styledScrollBar::-webkit-scrollbar {
  width: 6px !important;
  border-radius: 25px;
}

.styledScrollBar::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: none;
  border-radius: 25px;
} */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(30, 0, 56, 0.2);
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-900 rounded-lg;
}

.mobile-links nav ul li:first-child {
  @apply border-b border-purple-950/10;
}

input,
textarea {
  @apply transition-all !outline-none duration-300 border-2 border-transparent rounded-lg px-4 py-2;
}

input:focus,
textarea:focus {
  @apply ring-2 !ring-purple-500 !border-purple-500 bg-purple-200/20;
}

.card-gradient-bg {
  background: rgba(30, 0, 56, 0.1);
  background: linear-gradient(
    150deg,
    rgb(255, 255, 255) 0%,
    rgba(30, 0, 56, 0.1) 100%
  );
}

.card-bottom-gradient::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(150deg, #9333ea 0%, #3b82f6 50%, #86efac 100%);
  transition: 0.3s ease-in-out;
}
.card-bottom-gradient::after {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(150deg, #86efac 0%, #3b82f6 50%, #9333ea 100%);
  transition: 0.5s ease-in-out;
}

.movie-card:hover .card-bottom-gradient::after {
  left: 100%;
  right: 100%;
}

/* swiper */
.swiper-button-prev,
.swiper-button-next {
  @apply !text-purple-100 backdrop-blur-sm bg-purple-700/40 flex !w-10 !h-10 sm:!w-12 sm:!h-12 rounded-full;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply !text-[1.25rem]  sm:!text-[1.5rem];
}
